body {
  
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
}
.wrapper {
  max-width: 900px;
  display: flex;
  flex-flow: column nowrap;
  margin: 20px;
  align-items: left;
  border-style: solid;
  border-color: rgba(242, 242, 242, 0.75);
  padding: 60px;
  
}
.card-title {
  margin-bottom: 25px;
  font: normal normal normal 40px/50px "eb garamond",serif;
}
#description {
  margin: 25px 0;
  color: #494949;
  line-height: 2em;
}

#img1, #img2 {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
}
.location-info {
  margin-bottom: 25px;
  padding-left: 8px;
  border-left: 2px rgb(0, 147, 226) solid;
}
.spinner-border {
  position: fixed;
  top: 50%;
  left: 50%;
  color: white;
  z-index: 100;
}
.loading-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(149, 149, 149);
  z-index: 99;
  opacity: 0.8;
}
.loading {
  display: none;
}
#address {
  display: inline-block;
}
.today-color{
  color: rgb(6, 56, 209);
}


@media screen and (min-width: 600px){
  #img1, #img2 {
    height: 480px;
  }
}