.currentPage {
  color:red !important;
}
.paginator {
  display: flex;
  justify-content: center;
  
}
#page {
  display: flex;
}
.pagination {
  cursor: pointer;
}
.updateBookById-btn {
  white-space: nowrap;
}

#bookSearch {
  display: inline-block;
  width: calc(100% - 125px);
}
.search-button {
  margin-top: -3px;
}
.add-button {
  margin-top: -3px;
}
/* datepicker */
.input-group-append {
  cursor: pointer;
}
.bookCategoryImg {
  display: flex;
  justify-content: center;
  width: 450px;
  height: 65px;

}
.jumbotron {
  height: 300px;
  background: url("./pexels-photo-2908984.jpeg");
  background-size: cover;
  
}
#searchLine {
  padding-top: 150px;
  justify-content: center;
}