.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#64c1e6, #9198e5);
}

.container {
  display: flex;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: white;
}

.toDoForm {
  display: flex;
  justify-content: space-around;
  width: 420px;
}

input {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 3px;
}

button {
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin: 0 5px;
}

.allToDoList {
  list-style: none;
  margin: 0;
  padding: 0;
}
.singleTodoTask {
  margin: 10px 0;
  padding: 10px 20px;
  width: 450px;
  display: flex;
  align-items: center;
}
.toDoText {
  flex: 1;
}
